*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: rgb(255, 213, 0); */
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    border: 2px solid black;
}
html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-rows: 10% 80% 10%;
    grid-template-columns: 50% 50%;
    gap: 2px;
    
}
header{
    background-color: rgb(170, 214, 252);
    grid-column: 1/3;

}

.left{
    background-color: beige;
}
.right{
    background-color: palegoldenrod;
}
footer{
    background-color: teal;
    grid-column: 1/3;
    
}